* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	background: #ebebeb;
}

div .absolute {
    position: absolute;
    right: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Oswald", Arial, Sans-serif;
	font-weight: normal;
}

a {
	text-decoration: none;
	color:#BB1F35;
}

a:hover {
	text-decoration: underline;
}

.contenant {
	max-width: 1000px;
	width: 90%;
	margin: auto;
}

.gauche {
	float: left;
}

.droite {
	float: right;
}

/* --- Header ---*/

header {
	color:#fff;
	margin-bottom: 30px;
	background: #BB1F35;
}

header .contenant {
	overflow: hidden;
}

header .logo {
	max-width: 350px;
}

header .logo a {
	color: #fff;
	font-family: "Oswald", Arial, Sans-serif;
	font-size: 28px;
	line-height: 70px;
}

header .logo a:hover {
	text-decoration: none;
}

header .recherche {
	display: inline-block;
	position: relative;
	margin-right: 15px;
}

header .recherche input[type="text"]{
	background: none;
	border:1px solid rgba(255,255,255,.7);
	color:rgba(255,255,255,.7);
	height: 30px;
	padding: 0 10px;
	padding-right: 32px;
}

header .recherche input[type="text"]:hover,
header .recherche input[type="text"]:focus {
	color:#fff;
	border:1px solid #fff;
}

header .recherche .icono {
	color:rgba(255,255,255,.7);
	position: absolute;
	right: 0;
	background: none;
	border:none;
	cursor:pointer;
	padding: 6px;
	font-size: 16px;
	line-height: 16px;
}

header .recherche .icono:hover {
	color: #fff;
}

header .menu {
	display: inline-block;
}

header .menu ul {
	list-style: none;
}

header .menu ul li {
	display: inline-block;
	line-height: 70px;
}

header .menu ul li a {
	color: #fff;
	display: block;
	padding: 0px 20px;
	font-weight: bold;
}

header .menu ul li a:hover {
	background: #000;
	text-decoration: none;
}

header .menu ul li a .icono {
	margin-left: 15px;
}

/* --- Post --- */
.post {
	width: 100%;
	background: #fff;
	box-shadow: 0px 0px 5px rgba(0,0,0, .5);
	margin-bottom: 30px;
	padding: 30px;
}

.post article .titre {
	font-family: "Oswald", Arial, Sans-serif;
	font-size: 28px;
	font-weight: normal;
	line-height: 28px;
	margin-bottom: 10px;
}

.post article .titre a {
	color:#000;
}

.post article .fecha {
	color:#747474;
	font-size: 14px;
	margin-bottom: 20px;
}

.post article .thumb {
	margin-bottom: 20px;
}

.post article .thumb img {
	vertical-align: top;
	width: 100%;
}

.post article .extracto {
	font-size: 14px;
	line-height: 20px;
	margin-bottom: 20px;
}

.post article .continuar {
	color:#BB1F35;
	font-weight: bold;
}

.btn {
	padding: 15px;
	display: inline-block;
	margin: 15px 0;
	background: #595959;
	color:#fff;
	font-size: 1em;
	font-family: Arial, sans-serif, helvetica;
	border-radius: 2px;
	border:none;
}

.btn:hover {
	text-decoration: none;
	background: #BB1F35;
}

/* --- Footer --- */
footer {
	background: #BB1F35;
	color: #fff;
}

footer .copyright {
	text-align: center;
	font-size: 14px;
	padding: 15px 0;
}

/* --- formulaires --- */
.formulaire {
	width: 100%;
	overflow: hidden;
}

.formulaire input[type="text"],
.formulaire input[type="email"],
.formulaire input[type="password"],
.formulaire textarea {
	border: 1px solid #A8A8A8;
	border-radius: 2px;
	padding: 16px;
	width: 100%;
	display: block;
	margin-bottom:20px;
	font-family:Arial, sans-serif, helvetica;
	font-size: 1em;
	color:#141938;
}

.formulaire input[type="text"]:focus,
.formulaire input[type="email"]:focus,
.formulaire input[type="password"]:focus,
.formulaire textarea:focus {
	border: 2px solid #595959;
	padding: 15px;
}

.formulaire textarea {
	max-width: 100%;
	min-width: 100%;
	min-height: 300px;
}

.formulaire input[type="submit"]{
	padding: 15px;
	background: #595959;
	color:#fff;
	font-size: 1em;
	font-family: Arial, sans-serif, helvetica;
	border-radius: 2px;
	border:none;
	float: right;
	cursor: pointer;
}

.formulaire input[type="submit"]:hover{
	background: #BB1F35;
}

.border {
	border:none;
	margin-bottom: 5px;
	border-top:5px solid #000000;
	background: none;
	color:none;
}

/* --- login ---*/

.formulario {
	background: #BB1F35;
	padding: 25px;
	margin-bottom: 25px;
	text-align: center;
}

.formulario .form-group {
	width: 100%;
	margin-bottom: 10px;
}

.formulario input[type="text"],
.formulario input[type="password"] {
	padding: 15px;
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	line-height: 18px;
	border: none;
	vertical-align: top;
}

.formulario .icono {
	padding: 15px;
	text-align: center;
	width: 48px;
	max-height: 48px
	font-size: 18px;
	line-height: 18px;
	background: #c8c8c8;
	display: inline-block;
	color:#6b6b6b;
	vertical-align: top;
}

.formulario .icono.izquierda {
	margin-right: 4px;
	-webkit-border-radius: 3px 0 0 3px;
	-moz-border-radius: 3px 0 0 3px;
	-ms-border-radius: 3px 0 0 3px;
	-o-border-radius: 3px 0 0 3px;
	border-radius: 3px 0 0 3px;
}

.formulario .usuario,
.formulario .password {
	width: calc(100% - 52px);
	-webkit-border-radius: 0 3px 3px 0;
	-moz-border-radius: 0 3px 3px 0;
	-ms-border-radius: 0 3px 3px 0;
	-o-border-radius: 0 3px 3px 0;
	border-radius: 0 3px 3px 0;
}

.formulario .password_btn {
	width: calc(100% - 105px);
}

.formulario .error ul {
	padding: 0 15px;
}

.formulario .error ul li {
	margin-bottom: 10px;
}

.formulario .submit-btn {
	padding: 15px;
	text-align: center;
	width: 48px;
	max-height: 48px
	font-size: 18px;
	line-height: 18px;
	background: #679863;
	display: inline-block;
	color:#fff;
	background: #769766;
	cursor: pointer;

	-webkit-border-radius: 0 3px 3px 0;
	-moz-border-radius: 0 3px 3px 0;
	-ms-border-radius: 0 3px 3px 0;
	-o-border-radius: 0 3px 3px 0;
	border-radius: 0 3px 3px 0;
}
