{% extends "base.html" %} {% block content %}
    <div class="post">
        <article>
            <h2 class="titulo" style="color:#700">Attention!</h2>
            <hr class="border">
            <h3>Vérifiez vouz votre niveau d'accès pour cette URL</h3>
            <h3>Vous devez vous connecter avec les informations d'identification appropriées</h3>
            <p><a href="/">Retour à la page d'accueil</a></p>
        </article>
    </div>
{% endblock %}
