{% extends "base.html" %} {% block content %}
    <div class="post">
        <article>
            <h2 class="titulo" style="color:#700">Attention!</h2>
            <hr class="border">
            <h3>Le ressource ou service que vous avez demandé est introuvable.</h3>
            <p><a href="/">Retour à la page d'accueil</a></p>
        </article>
    </div>
{% endblock %}
