{% extends "base.html" %}
{% block content %}
<p class="fecha"><h2>PUBLICATIONS RÉCENTS</h2>&nbsp«5 dernières»</p>
{% if not articles %}
<h4 style="color:#700">Aucun article dans la base de données...</h4>
{% endif %}
{% for article in articles %}
<div class="post">
    <article>
        <h2 class="titulo">{{ article.titre }}</h2>
        <p class="fecha"><i class="fa fa-calendar"></i>&nbsp{{ article.date_publication }}</p>
        <h4 class="titulo"><i class="fa fa-pencil"></i>&nbsp{{ article.auteur }}</h4>
        <p class="extracto">{{ article.paragraphe }}</p>
        <h4 class="titulo"><i class="fa fa-key"></i>&nbsp{{ article.identifiant }}</h4>
    </article>
</div>
{% endfor %}
{% endblock %}
