{% extends "base_admin_login.html" %} {% block content %}
<div class="contenant">
    <h2>Authentification</h2>
    <hr class="border"> {% if erreur_login %}
    <h4 style="color:#700">{{ erreur_login }}</h4> {% endif %}
    <form action="/login" method="POST" class="formulario" name="login">
        <div class="form-group">
            <i class="icono izquierda fa fa-user"></i><input type="text" name="username" class="usuario" placeholder="Nom d'Utilisateur">
        </div>
        <div class="form-group">
            <i class="icono izquierda fa fa-lock"></i><input type="password" name="password" class="password_btn" placeholder="Mot de Passe">
            <i class="submit-btn fa fa-arrow-circle-right" onclick="login.submit()"></i>
        </div>
        <p><b><a href="/start-recouvrement" style="color:#fff">Vous avez oublié votre Mot de Passe ?</a></b></p>
    </form>
</div>
{% endblock %}
