{% extends "base_admin.html" %} {% block content %}
<div class="contenant">
    <h2>Panneau d'Administration</h2>
    <a href="/admin-nouveau" class="btn"><i class="fa fa-plus"></i>&nbspNouvel&nbspArticle</a>
    <a href="/invitation" class="btn"><i class="fa fa-plus"></i>&nbspInvitation</a>
    <h3>Voici la liste des articles à gérer</h3>
    <p>Cette liste contient des articles affichés en date du jour</p>
    {% if not articles %}
    <p style="color:#700">Aucun article dans la base de données...</p>
    {% else %}
    <ul>
        {% for article in articles %}
        <li><a href="/article/{{ article.identifiant }}">{{ article.titre }}</a> &nbsp-&nbsp{{ article.date_publication }} &nbsp|
            <a href="/modifier_article/{{ article.identifiant }}">modifier</a>|</li>
        {% endfor %}
    </ul>
    {% endif %}
    <p>Cette liste contient des articles avec une date de publication dans le futur</p>
    {% if not articles_a_afficher %}
    <p style="color:#700">Aucun article dans la base de données...</p>
    {% else %}
    <ul>
        {% for article in articles_a_afficher %}
        <li><a href="/article/{{ article.identifiant }}">{{ article.titre }}</a> &nbsp-&nbsp{{ article.date_publication }} &nbsp|
            <a href="/modifier_article/{{ article.identifiant }}">modifier</a>|</li>
        {% endfor %}
    </ul>
    {% endif %}
</div>
{% endblock %}
