{% extends "base.html" %} {% block content %}
<div class="post">
    <article>
        <h2 class="titulo">{{ article.titre }}</h2>
        <p class="fecha"><i class="fa fa-calendar"></i>&nbsp{{ article.date_publication }}</p>
        <h4 class="titulo"><i class="fa fa-pencil"></i>&nbsp{{ article.auteur }}</h4>
        <p class="extracto">{{ article.paragraphe }}</p>
        <h4 class="titulo"><i class="fa fa-key"></i>&nbsp{{ article.identifiant }}</h4>
    </article>
    <p><a href="/">Retour à la page d'accueil</a></p>
    <p><a href="/admin-panneau">Aller à la page Admin-Panneau</a></p>
</div>
{% endblock %}
