<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no,
   initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/custom_style.css" rel="stylesheet">
    <title>GESTION | BLOGS</title>
</head>

<body>
    <header>
        <div class="contenant">
            <div class="logo gauche">
                <p><a href="/">MON BLOG</a></p>
            </div>
            <div class="droite">
                <form name="recherche" class="recherche" action="/recherche" method="post">
                    <input type="text" name="recherche" placeholder="Recherche..."><button type="submit" class="icono fa fa-search"></button>
                </form>

                <nav class="menu">
                    <ul>
                        <li><a href="#" alt="icon_twitter" title="twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" alt="icon_facebook" title="facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" alt="icon_envelope" title="contact"><i class="fa fa-envelope"></i></a></li>
                        <li><a href="/admin" alt="icon_lock" title="admin">connexion&nbsp<i class="fa fa-sign-in"></i></a></li>
                    </ul>
                </nav>
            </div>

        </div>

    </header>
    <div class="contenant">
        <div class="post">
            <a href="#"><img src="/static/images/1.png" alt="MON-BLOG"></a>
        </div>
        {% block content %}{% endblock %}
    </div>
    <footer>
        <p class="copyright"> © 2017 - GESTION | BLOGS - application développé dans le cadre du cours INF3005 à l’UQAM</p>
    </footer>
</body>

</html>
