<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/custom_style.css" rel="stylesheet">
    <script src="{{url_for('static', filename='js/customJs.js')}}"></script>
    <title>GESTION | BLOGS</title>
</head>

<body>
    <header>
        <div class="contenant">
            <div class="logo gauche">
                <a href="/admin">MON BLOG » admin</a>
                <p><b><i>Bienvenue, {{ username }}</i></b></p>
            </div>
            <div class="droite">
                <form name="recherche" class="recherche" action="/recherche" method="post">
                    <input type="text" name="recherche" placeholder="Recherche..."><button type="submit" class="icono fa fa-search"></button>
                </form>
                <nav class="menu">
                    <ul>
                        <li><a href="/logout" alt="icon_reply" title="déconnexion">déconnexion<i class="fa fa-sign-out"></i></a></li>
                    </ul>
                </nav>
            </div>

        </div>

    </header>
    {% block content %}{% endblock %}
    <footer>
        <p class="copyright"> © 2017 - GESTION | BLOGS - application développé dans le cadre du cours INF3005 à l’UQAM</p>
    </footer>
</body>
</html>
