{% extends "base.html" %} {% block content %}
    <div class="post">
        <article>
            <h2 class="titulo" style="color:#700">Confirmation du Recouvrement de Mot de Passe!</h2>
            <hr class="border">
            <h3>Votre mot de passe a été mis à jour correctement</h3>
            <p><a href="/">Retour à la page d'accueil</a></p>
            <p><a href="/admin">Retour à la page d'authentification</a></p>
        </article>
    </div>
{% endblock %}
