{% extends "base_admin.html" %} {% block content %}
<div class="contenant">
    <div class="post">
        <article>
            <h2>Donnez vouz des accès au CMS à d'autres utilisateurs</h2>
            <form class="formulaire" action="/envoyer-invitation" method="post">
                {% if erreur_courriel_vide %}
                <h4 style="color:#700">{{ erreur_courriel_vide }}</h4>
                {% endif %}
                <input type="text" name="courriel" placeholder="Entrez le courriel de la personne à inviter" >
                <input type="submit" value="Envoyer">
            </form>
        </article>
    </div>
</div>
{% endblock %}
