{% extends "base_admin.html" %} {% block content %}
<div class="contenant">
    <div class="post">
        <article>
            <h2>Modifier l'Article: {{ article.titre }}</h2>
            <p>Uniquement le titre et le paragraphe sont modifiables</p>
            {% if erreur_modification %}
            <h4 style="color:#700">{{ erreur_modification }}</h4>
            {% endif %}
            <form class="formulaire" action="/formulaire_modifie/{{ article.identifiant }}" method="post">
                <input type="text" name="titre" value="{{ article.titre }}">
                <input type="text" name="titre" value="{{ article.date_publication }}" disabled>
                <input type="text" name="titre" value="{{ article.auteur }}" disabled>
                <textarea name="paragraphe">{{ article.paragraphe }}</textarea><br>
                <input type="submit" value="Sauvegarder">
            </form>
        </article>
    </div>
</div>
{% endblock %}
