{% extends "base_admin.html" %}
{% block content %}
<div class="contenant">
    <div class="post">
        <article>
            <h2>Nouvel Article</h2>
            <p><span style="color:red">*</span> Tous les champs sont obligatoires</p>
            <p><span style="color:red">*</span> L'<i>identifiant URL</i> d'un article est généré automatiquement en fonction du Titre</p>
            <form class="formulaire" action="/formulaire" method="post" onreset="myFunction()">
                {% if erreurs.titre %}
                <h4 style="color:#700">{{ erreurs.titre }}</h4>
                {% endif %}
                <label for="champ-titre">Entrez le Titre</label>
                <input type="text" name="titre" id="champ-titre" value="{{ init_formulaire.titre }}">
                {% if erreurs.auteur %}
                <h4 style="color:#700">{{ erreurs.auteur }}</h4>
                {% endif %}
                <label for="champ-auteur">Entrez l'Auteur</label>
                <input type="text" name="auteur" value="{{ init_formulaire.auteur }}">
                {% if erreurs.date_publication %}
                <h4 style="color:#700">{{ erreurs.date_publication }}</h4>
                {% endif %}
                {% if erreurs.date_publication_format %}
                <h4 style="color:#700">{{ erreurs.date_publication_format }}</h4>
                {% endif %}
                <label for="champ-date">Entrez la Date de Publication - [aaaa-mm-jj]</label>
                <input type="text" name="date_publication" value="{{ init_formulaire.date_publication }}">
                {% if erreurs.paragraphe %}
                <h4 style="color:#700">{{ erreurs.paragraphe }}</h4>
                {% endif %}
                <label for="champ-paragraphe">Entrez le Texte de l'Article</label>
                <textarea type="text" id="champ-paragraphe" name="paragraphe" >{{ init_formulaire.paragraphe }}</textarea><br>
                <input type="submit" value="Créer Article">
            </form>
        </article>
    </div>
</div>
{% endblock %}
