{% extends "base.html" %} {% block content %}
<div class="contenant">
    <h2>Résultat de la Recherche » <q style="color:#700">{{ la_recherche }}</q> </h2>
    {% if not resultat_recherche %}
    <article>
        <br>
        <h4>Désolé, aucun résultat n'a été trouvé dans notre Blog</h4>
        <ul>
            <li>
                <p>Vérifiez l'orthographe des termes de recherche</p>
            </li>
            <li>
                <p>Utilisez des mots clés plus généraux</p>
            </li>
        </ul>
        <p><a href="/">Retour à la page d'accueil</a></p>
    </article>
    {% else %}
    <ul>
        {% for resultat in resultat_recherche %}
        <li><a href="/article/{{ resultat.identifiant }}">{{ resultat.titre }}</a> &nbsp-&nbsp{{ resultat.date_publication }}</li>
        {% endfor %}
    </ul>
    <br>
    <p><a href="/">Retour à la page d'accueil</a></p>
    {% endif %}
</div>
{% endblock %}
