{% extends "base.html" %} {% block content %}
    <div class="post">
        <article>
            <h2>Recouvrement de Mot de Passe à CMS «MON-BLOG» en tant qu'utilisateur privilégié</h2>
            <hr class="border">
            {% if erreur %}
            <h4 style="color:#700">{{ erreur }}</h4>
            {% endif %}
            <form class="formulaire" action="/formulaire-recouvrement" method="post">
                <input type="text" name="utilisateur" value="{{ username }}" readonly>
                <input type="text" name="email" value="{{ email }}" readonly>
                <input type="password" name="mot_passe" placeholder="Entrez le nouveau Mot de Passe">
                <input type="submit" value="Soumettre">
            </form>
        </article>
    </div>
{% endblock %}
