{% extends "base.html" %} {% block content %}
    <div class="post">
        <article>
            <h2>Inscription à CMS «MON-BLOG» en tant qu'utilisateur privilégié</h2>
            <hr class="border">
            {% if erreur %}
            <h4 style="color:#700">{{ erreur }}</h4>
            {% endif %}
            <form class="formulaire" action="/registration" method="post">
                <input type="text" name="utilisateur" placeholder="Entrez le Nom d'Utilisateur" >
                <input type="text" name="email" value="{{ email }}">
                <input type="password" name="mot_passe" placeholder="Entrez le Mot de Passe">
                <input type="submit" value="Créer mon Accès">
            </form>
        </article>
    </div>
{% endblock %}
