{% extends "base.html" %} {% block content %}
    <div class="post">
        <article>
            <h2>Recouvrement du Mot de Passe</h2>
            <form class="formulaire" action="/envoyer-recouvrement" method="post">
                {% if erreur %}
                <h4 style="color:#700">{{ erreur }}</h4>
                {% endif %}
                <input type="text" name="courriel" placeholder="Veuillez saisir l’adresse de courriel que vous avez utilisée pour ouvrir votre compte" >
                <input type="submit" value="Soumettre">
            </form>
        </article>
    </div>
{% endblock %}
